<!DOCTYPE html>
<html>
    <head>
        <title>The Bucket</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">The Bucket</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/add_bucketlist">Bucketlists</a></li>
                        <li class="pull-right"><a href="/signup">Sign Up</a></li>
                        <li class="pull-right"><a href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>About The Bucket</h1>
                <p class="lead">The Bucket is an app that lets you keep track of the different activities that you might want to experience before you... well... 'kick the bucket'. Through it, you are able to manage these activities by creating, editing, or deleting them as you so wish.</p>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>