<!DOCTYPE html>
<html>
    <head>
        <title>The Bucket</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">The Bucket</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="pull-right"><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--form for add-activity page-->
        <div class="container">
            <h1>Add a Bucketlist</h1>
            <form class="form-horizontal" method="post" action="/add_bucketlist">
            
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtTitle">Title</label>
                    <div class="col-md-4">
                        <input id="txtTitle" name="inputTitle" type="text" placeholder="title, e.g. Bucketlist for 2017" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="txtPost">Post</label>
                    <div class="col-md-4">
                        <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>
                    <div class="col-md-4">
                        <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                    </div>
                </div>
            </form>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>